.pt117
    margin-top 117px
.footer
    margin 0
.clear
    zoom 1

    &:after
        display block
        clear both
        content ''

.vertical-align-middle
    height 100%
    font-size 0

    .vam
        display inline-block
        vertical-align middle

    .h100
        height 100%

.full-screen
    overflow hidden
    width 100%
    height 1389px
    height 100vh
    background url('../img/2ac9eee55bd100c23d1da2b6c8062cd8-1920+1389.jpg') center center no-repeat

    .w
        position relative
        margin 0 auto
        max-width 1500px
        width 100%
        height 100%
        font-size 0

    .vam
        display inline-block
        vertical-align middle

    .h100
        height 100%

    .maw700
        position relative
        z-index 1
        max-width 700px

    .name
        padding-bottom 25px

        img
            vertical-align bottom

            &+img
                padding-left 30px

    .sub-title
        color #99999a
        font-size 18px
        line-height 38px

    .en
        padding 20px 0
        color #c3c3c4
        text-transform uppercase
        letter-spacing 5px
        font-size 10px
        line-height 1
        opacity 0.07

    .content
        color #a9a9a9
        font-size 16px
        line-height 28px

    .boss
        position absolute
        top 50%
        right 0
        transform translateY(-50%)

.brand-about
    .banner
        height 780px
        background url('') center center no-repeat

        .w
            margin 0 auto
            max-width 1270px
            width 100%
            height 100%

        .content
            width 700px
            height 100%
            text-align center

            h3
                position relative
                margin-bottom 20px
                padding-bottom 20px
                color #ffffff
                font-weight bold
                font-size 50px
                line-height 1

                &:after
                    position absolute
                    bottom 0
                    left 50%
                    margin-left -12px
                    width 24px
                    border-bottom 2px solid #fff
                    content ''

            p
                color #ffffff
                font-size 18px
                line-height 36px

    .list
        margin 0 auto
        max-width 1920px
        width 100%

        li
            width 100%
            height 540px

            &:nth-child(even)
                .left
                    float right

                .right
                    float left

                    &:after
                        right 0
                        left auto
                        border-right-color currentColor
                        border-left-color transparent
                        color #FFF

            &.bg242425
                background #242425

                .left
                    h3, p
                        color #ffffff

                    h3
                        &:after
                            border-bottom-color #fff
                            content ''

                .right
                    &:after
                        color #242425

            .left
                float left
                width (650px / 1920px * 100)%
                height 100%
                text-align center

                h3
                    position relative
                    margin-bottom 20px
                    padding-bottom 20px
                    color #000000
                    font-weight bold
                    font-size 32px
                    line-height 1

                    &:after
                        position absolute
                        bottom 0
                        left 50%
                        margin-left -12px
                        width 24px
                        border-bottom 2px solid #000
                        content ''

                p
                    color #333333
                    font-size 28px
                    line-height 38px

            .right
                position relative
                float right
                width ((1920 - 650) / 1920px * 100)%
                height 100%
                background url('') center center no-repeat

                &:after
                    position absolute
                    top 50%
                    left 0
                    margin-top -20px
                    border 20px solid transparent
                    border-left-color currentColor
                    color #fff
                    content ''

.brand-event
    .w
        margin 0 auto
        max-width 1500px
        width 100%

    .por
        position relative

    h2
        color #000000
        font-weight bold
        font-size 42px
        line-height 2

    .nav
        padding-bottom 10px
        color #666666
        font-size 12px
        line-height 24px

    .tabs-control
        position relative

        .tabs-control
            position absolute
            top 280px
            left 40px
            z-index 1

            ul
                li
                    position relative
                    float none
                    padding-left 15px

                    &:after
                        position absolute
                        top 50%
                        left 0
                        margin-top -2px
                        width 4px
                        height 4px
                        border-radius 50%
                        background #ffffff
                        content ''

                    a
                        display block
                        color #e5e5e5
                        font-size 12px
                        line-height 2

                        &:hover
                            text-decoration underline

        .tabs-content
            position relative
            height 855px

            .tabs-item
                position absolute
                top 0
                right 0
                bottom 0
                left 0
                height 100%
                background url('') center center no-repeat

                // display none
                &.active
                    display block

                .w
                    position relative
                    height 100%

                .poa
                    position absolute
                    right 0
                    bottom 10%
                    width 466px

                .years
                    margin-bottom 20px
                    padding-bottom 30px
                    border-bottom 1px solid #fff
                    color #ffffff
                    font-size 56px

                ul
                    li
                        position relative
                        float none
                        padding-left 15px
                        color #ffffff
                        font-size 12px
                        line-height 30px

                        &:after
                            position absolute
                            top 15px
                            left 0
                            margin-top -2px
                            width 4px
                            height 4px
                            border-radius 50%
                            background #ffffff
                            content ''

                        p+p
                            text-indent 3em

.master-doctor
    .banner
        img
            display block
            margin 0 auto
            max-width 1920px
            width 100%

    h2
        padding 40px 0 20px
        color #000000
        text-align center
        font-size 46px
        line-height 1

        .en
            left 1px
            padding-top 15px
            text-transform uppercase
            font-size 20px

    .tabs-control
        padding 30px 0 40px
        border-top 1px solid #000
        color #000000
        text-align center
        font-size 18px
        line-height 28px

        a
            display inline-block
            margin 0 50px

            &.active, &:hover
                font-weight bold

    .w2
        margin 0 auto
        max-width 1400px
        width 100%
        box-shadow -10px 10px 10px #ccc, 10px 10px 10px #ccc

    .w
        margin 0 auto
        width 1050px

        .list
            margin-left -3%

            .item
                float left
                margin-bottom 50px
                margin-left 3%
                width 30.33%

                .pic
                    position relative

                    &:hover
                        .layout
                            opacity 1

                    img
                        display block
                        width 100%

                    .layout
                        position absolute
                        top 0
                        right 0
                        bottom 0
                        left 0
                        box-sizing border-box
                        border 1px solid #a6832b
                        background rgba(#fff, 0.9)
                        text-align center
                        opacity 0
                        transition 0.3s

                        h4, p
                            color #000000
                            font-size 14px
                            line-height 30px

                        h4
                            font-weight bold

                        .line
                            position relative
                            margin-bottom 10px
                            padding-bottom 10px

                            &:after
                                position absolute
                                bottom 0
                                left 50%
                                margin-left -12px
                                width 24px
                                border-bottom 2px solid #000
                                content ''

                h3, p
                    color #000000
                    font-size 16px
                    line-height 26px

                h3
                    padding-top 20px
                    font-weight bold

.news-block
    .banner
        height 360px
        background url('') center top no-repeat
        
    .w
        margin 0 auto
        max-width 1240px
        width 100%

    .news-styles-1-list
        &.w30
            margin-left -4.33%
            position relative
            &:after
                content ''
                position absolute
                left 4.33%
                right 0
                border-top 1px solid #dfdfdf
            .fl
                width 29%
                margin-top 30px
                margin-bottom 40px
                margin-left 4.33%
            .content
                h3
                    padding 5px 0 0 
                .arrow
                    margin-top 20px
        &.w50
            padding 100px 0

            .fl
                width 50%

            .pic
                width 45%

            .content
                padding 0 30px
                width 55%
        .pic
            img
                display block
                width 100%
                border 5px solid #aa8421
        .content
            .tips
                padding-top 20px
                color #000000
                font-size 14px 
                line-height 34px
                text-transform uppercase
                span
                    padding-bottom 5px
                    border-bottom 2px solid #aa8421
            h3
                font-size 16px
                color #000000
                line-height 26px
                padding 10px 0 15px
                font-weight bold
            p
                font-size 14px
                color #333333
                line-height 24px
            .arrow
                display block
                margin-top 36px
                width 36px
                height 36px
                border 1px solid #dddddd
                background url('../img/c7539a3f7e14555f0f32c3f5f1ec9fd0-13+14.png') center center no-repeat
    
    .load-more
        font-size 16px
        color #999999
        text-align center
        line-height 26px
    .page-control
        padding 50px 0
        font-size 14px
        color #4b4b4b
        line-height 24px
        text-align center
        a
            display inline-block
            margin 0 5px
        .next
            margin-left 30px
        a
            &.active
            &:hover
                font-weight bold
.news-detalis-block
    .w
        margin 0 auto
        max-width 1375px
        width 100%
    .bg
        background url('') 70% center no-repeat
        
    .por
        position relative

    h2
        color #000000
        font-weight bold
        font-size 42px
        line-height 2

    .nav
        padding-bottom 10px
        color #666666
        font-size 12px
        line-height 24px
    .news-biger
        background #f0f1f2
        padding-top 30px
        .left
            width 660px
            .read
                background none
                padding 0
                .wrap
                    margin 0
                    width 100%
                .cirl
                    margin-top 20px
        .right
            width 645px
            .date
                font-size 12px
                color #999999
                padding 5px 0
                line-height 22px
                border-bottom 1px solid #c4c5c5
            h3
                padding 20px 0
                font-size 34px
                color #000000
                line-height 54px
            .content
                overflow-y scroll
                font-size 14px
                color #666666
                line-height 24px
                height 290px
                padding-right 40px
                .pt23
                    padding-top 23px
                .fb
                    font-weight bold
                &::-webkit-scrollbar
                    width 12px
                    border-radius 6px
                    background #e4e5e6
                &::-webkit-scrollbar-thumb 
                    background #d1d1d1
                    border-radius 6px
    .news-list
        padding 20px 0 40px
        margin-left -1.33%
        .item
            width 32%
            margin-left 1.33%
            background #ffffff
            padding 10px
            .content
                width 270px
                .row
                    border-bottom 1px solid #e0e0e0
                    a
                        font-size 12px
                        color #e0e0e0
                        line-height 22px
                p
                    padding-top 10px
                    a
                        font-size 14px
                        color #333333
                        line-height 24px
.fine-quality-block
    .banner
        height 640px
        background url('') center center no-repeat
    .grid
        max-width 1920px
        margin 30px auto 20px
        width 100%
        background #e7e7e7
        .clear
            margin-left -1px
        .item
            height 270px
            box-sizing border-box
            width 20%
            border-left 1px solid #ffffff
            border-bottom 1px solid #fff
            background url('') center center no-repeat
            &:hover
                a
                    opacity 1
                    transform scale(1)
            a
                display block
                width 100%
                height 100%
                background url('../img/0a62414ffa5c7c1eb7808aa89809c361-382+273.jpg') center center no-repeat
                opacity 0
                transition 0.3s
                transform scale(0)
        .w40
            width 40%
            height 540px
        .w60
            width 60%
            height 540px
            .item
                width 33.33%
                
        .load-more
            padding 20px 0
            a
                display block
                width 90px
                height 30px
                text-align center
                font-size 14px
                color #ffffff
                background #1b1b1b
                margin 0 auto
                line-height 30px

        
// ds